<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konfirmasi Akun</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f7f6;
      }

      .container {
        width: 100%;
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      .message {
        padding: 20px;
        text-align: center;
      }

      .success {
        color: green;
      }

      .error {
        color: red;
      }

      .message i {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="message <%= success ? 'success' : 'error' %>">
        <i
          class="<%= success ? 'fas fa-check-circle' : 'fas fa-times-circle' %>"
        ></i>
        <p><%= message %></p>
      </div>
    </div>
  </body>
</html>
